<% @media.each do |medium|%>
  <div class="card" style="width: 36rem;">
    <%= link_to image_tag(medium.image_data, class: "card-img-top"), medium_path(medium) %>
    <div class="card-body">
      <%# <h5 class="card-title">Card title</h5> %>
      <p class="card-text"><strong><%= medium.user.email %></strong>: <%= medium.description %></p>
      <p class="card-text"><small><%= "#{time_ago_in_words(medium.created_at)} ago" %></small></p>      
    </div>
    <ul class="list-group list-group-flush">
      <% medium.comments.each do |comment|%>
        <li class="list-group-item"><strong><%= comment.user.email %></strong>: <%= comment.content %></li>
      <% end %>
    </ul>
    <div class="card-body">
      <%= link_to 'Comment', new_medium_comment_path(medium) %>
    </div>
  </div>
  <br>
<% end %>
